<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./../static/logo-IBSF.png">
    <!-- style-->
    <style>
        table{
        border-collapse: collapse;
        }

        td,th{
        border: 1px solid black;
        padding: 10px;
        }
        .row{
            display: flex;
            margin-left: 100px;
        }
        .col-md-4{
            flex: 1;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link  href="css2/bootstrap.min.css" rel="stylesheet" >
    <link  href="band.css" rel="stylesheet" >
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
<title>View Molecule :  nom.... </title>
  </head>
    <body>
<!-- Component identification section-->   
<div class="card card-primary card-outline">
    
    <div class="card-body">
      <div class="row  mt-4 mb-2">
            <div class="col-md-4 mb-3">
                <h4>Name : {{molecule.Name}}</h4>
            </div>
        <div class="col-md-4 mb-3">
            <h4> CAS Number : {{molecule.CAS_Number}}</h4>
        </div>

        <div class="col-md-4 mb-3">
            <h4> Canonical Formula : {{molecule.Canonical_Formula}}</h4>
        </div>
  </div>
</div>
    <!--Physical and chemical properties-->
    <div class="row  mt-4 mb-2">
        <div class="col-md-4 mb-3">
            <h5> Molecular Weight : {{molecule.Molecular_Weight}}</h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>  XLogP3 : {{molecule.XLogP3}}</h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>  Hydrogen Bond Donor Coun : {{molecule.HydrogenBondDonorCount}}</h5>
        </div>
    </div>
    <div class="row  mt-4 mb-2">
        <div class="col-md-4 mb-3">
            <h5> Hydrogen Bond Acceptor Count : {{molecule.HydrogenBondAcceptorCount}} </h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>   Rotatable Bond Count : {{molecule.Rotatable_Bond_Count}} </h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>- Exact Mass : {{molecule.ExactMass}} </h5>
        </div>
    </div>
    <div class="row  mt-4 mb-2">
        <div class="col-md-4 mb-3">
            <h5> Monoisotopic Mass : {{molecule.MonoisotopicMass}} </h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>   Topological Polar Surface Area : {{molecule.TopologicalPolarSurfaceArea}} Å² </h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>Heavy Atom Count : {{molecule.Canonical_Formula}} </h5>
        </div>
    </div>
    <div class="row  mt-4 mb-2">
        <div class="col-md-4 mb-3">
            <h5> Formal Charge : {{molecule.Formal_Charge}} </h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>   Complexity : {{molecule.Complexity}}</h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>Isotope Atom Count : {{molecule.Isotope_Atom_Count}} </h5>
        </div>
    </div>
    <div class="row  mt-4 mb-2">
        <div class="col-md-4 mb-3">
            <h5> Defined Atom Stereocenter Count : {{molecule.Defined_Bond_Stereocenter_Count}}</h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>   Undefined Atom Stereocenter Count : {{molecule.Undefined_Atom_Stereocenter_Count}}     </h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>Defined Bond Stereocenter Count : {{molecule.Defined_Bond_Stereocenter_Count}}  </h5>
        </div>
    </div>

    <div class="row  mt-4 mb-2">
        <div class="col-md-4 mb-3">
            <h5> Undefined Bond Stereocenter Count : {{molecule.Undefined_Bond_Stereocenter_Count}}</h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>   Covalently-Bonded Unit Count : {{molecule.Covalently_Bonded_Unit_Count}}  </h5>
        </div>
        <div class="col-md-4 mb-3">
            <h5>Compound Is Canonicalized : {{molecule.Compound_Is_Canonicalized}} </h5>
        </div>
    </div>
       <!--Toxicological profile-->
       <h4 style="margin:2% 0px 2% 1%"> TOXICOLOGICAL PROFILE : BUTYL ACETATE</h4>

       <div style="margin-left:1%; margin-right: 1%; margin-right: 1%;">
           <table>
               <thead >
                 <tr>
                   <th class="m-e-t" style=" text-align:center; width:15%;">TYPE OF STUDY</th>
                   <th class="m-e-t" style=" text-align:center;" >RESULTS</th>
                   <th class="m-e-t" style=" text-align:center; width:15%;">REFERENCES</th>
                 </tr>
               </thead>
               <tbody>
                    {% for result in results_associated %}
                    <tr>
                        <td class="m-e-t"> {{result.Toxicity_Type}} </td>     
                        <td class="m-e-t">{{result.value}}</td>     
                        <td class="m-e-t"> </td>     
                    </tr>
                    {% endfor %}   
                </tbody>  
             </table>
</div>
    </div>
    </body>
   </html>