<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href=" {{ url_for('static', path='logo-IBSF.png') }}">
  <link href="{{ url_for('static', path='/band.css') }}">


  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', path='/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='/band.css') }}" rel="stylesheet">
  <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">

  <title>List of molecules</title>
</head>

<body>
  <nav class="navbar navbar-dark" style="background-color: rgb(0, 83, 159)">
    <a class="navbar-brand" href="#">BioSolutions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:8000/MoleculeRegister/">ADD COMPONENT <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:8000/List/">List page</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- logo insignts biosolutions -->
  <div class="py-2 text-center">
    <img class="d-block mx-auto mb-4" src="./../static/logo-IBSF.png" width="120" height="120">
  </div>
  <div class="card row  col-md-12 ">
    <!--la nav bar -->
    <nav class="navbar navbar-expand navbar-light mt-0 ml-2  card-header card-info card-outline">
      <!-- Left navbar links -->
      <ul class="navbar-nav mt-2">
        <li class="nav-item d-none d-sm-inline-block">
          <h4>Liste des molecules </h4>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="http://localhost:8000/MoleculeRegister/">
            <button type="button" class="btn btn-outline-info ml-5 "
              style="border-radius: 10px; background-color: rgb(0, 83, 159); color: white;" data-toggle="modal"
              data-target="#DistributionVersement">
              <i class="fas fa-plus-circle w-100"></i>
            </button>
          </a>
        </li>
      </ul>
      <!-- bar de recherche-->
      <!-- <ul class="navbar-nav ml-auto ">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
            style="background-color: rgb(0, 83, 159); color: white;">Search</button>
        </form>
      </ul> -->

    </nav>
    <!--le tableau-->
    <div class="row">
      <table id="molecules" class="table table-hover text-nowrap mt-0 ml-4  col-md-12  card-header card-info card-outline ">
        <thead class="bg" style="background-color: rgb(0, 83, 159); color: white;">
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">CAS_Number</th>
            <th scope="col">Canonical Formula</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
          {% for molecule in molecules %}
          <tr>
            <td> {{molecule.Name}}</td>
            <td> {{molecule.CAS_Number}}</td>
            <td>{{molecule.Canonical_Formula}}</td>
            <td> {{molecule.Created_date}}</td>
            <td class="col-1">
              <button class="btn-outline-primary mr-1" style="border-radius: 10px; color: white;" data-toggle="modal"
                data-whatever="@getbootstrap">
                <a href="http://localhost:8000/MoleculeDetails/{{molecule.CAS_Number}}" method="get"
                  style="color: rgb(50, 45, 45)">
                  <i class="far fa-eye"></i> Details
                </a>
              </button>
              <button class="btn-outline-primary mr-1" style="border-radius: 10px; color: white;" data-toggle="modal"
                data-whatever="@getbootstrap">
                <a href="http://localhost:8000/DownloadMolecule/{{molecule.CAS_Number}}" method="get"
                  style="color: rgb(50, 45, 45)">
                  <i class="fa fa-download"></i> Download
                </a>
              </button>
              <button class=" btn-outline-warning mr-1" style="border-radius: 10px">
                <a href="http://localhost:8000/GetMoleculeToUpdate/{{molecule.CAS_Number}}" method="get"
                  style="color: rgb(50, 45, 45)">
                  <i class="fas fa-edit"></i> Edit
                </a>
              </button>
              <button class="btn-danger mr-1" style="border-radius: 10px; color: white;" data-toggle="modal"
                data-whatever="@getbootstrap">
                <a href="http://localhost:8000/DeleteMolecule/{{molecule.CAS_Number}}" method=""
                  style="color: white">
                  <i class="far fa-trash-alt"></i> Delete
                </a>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022-2023 Insight BioSolutions</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="./../static/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <script src="./../static/app.js"></script>

</body>

</html>